@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

html {
  box-sizing: border-box;
  font-size: 80%;
}

body,
#root {
  margin: 0;
  font-family: "Roboto", Courier, monospace;
  font-size: 2rem;
}

.main-container {
  display: grid;
  grid-template-areas:
    "header"
    "main";
}
header {
  display: flex;
  grid-area: header;
  background-color: #90e882;
  color: white;
  align-items: center;
  justify-content: space-between;
}

main {
  grid-area: main;
  background-color: white;
}

div > a {
  text-decoration: none;
  color: white;
}

/* HEADER SECTION */
.logoContainer {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

/* PLAYER SECTION */
.playerContainer {
  width: 70%;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.player {
  margin: 14px 4px 4px 8px;
}

/* MODAL */

.modalOption {
  display: flex;
  justify-content: center;
}

/* SEARCH */

.searchBar {
  display: flex;
}
/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {
  .options,
  #slogan {
    font-size: 1.2rem;
  }

  .searchBar {
    display: block;
  }
}
